{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="hidden" id="pagination" data-next="{{ next }}" data-previous="{{ previous }}"></div>
    <div class="w-full min-h-lvh">
        <div class="w-full flex flex-col gap-24 lg:gap-24 justify-start px-10 py-12 lg:px-20 lg:py-24">
            <!-- Playlists -->
            <div class="w-full flex gap-4 justify-center md:justify-start">
                <h1 class="w-fit text-3xl font-semibold text-gray-700">Playlist Italiane Spotify</h1>
                <button onclick="nextPlaylists()" class="text-sm text-black/50 font-semibold p-2 active:shadow-inner active:bg-slate-200 bg-slate-300 rounded-lg shadow-lg border border-slate-400">Carica Precedente</button>
                <button onclick="previousPlaylists()" class="text-sm text-black/50 font-semibold p-2 active:shadow-inner active:bg-slate-200 bg-slate-300 rounded-lg shadow-lg border border-slate-400">Carica Altro</button>
            </div>
            
            <div class="w-full grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-8 md:gap-8 justify-center">   
                {% for item in playlists %}
                    <div  class="w-full flex justify-center">
                        <div class="w-[195px] h-[300px] flex flex-col gap-4">
                            <!-- Image -->
                            <div class="w-[195px] cursor-pointer hover:w-[210px] transition-all aspect-square overflow-hidden rounded-xl shadow-xl">
                                <a href="{{ item['external_url'] }}" target="_blank">
                                    <img class="w-full object-cover" src="{{ item['image_url'] }}" alt="playlist image">
                                </a>
                            </div>
                            <!-- Description -->
                            <div class="w-full max-w-[195px]">
                                <p class="text-sm text-black/50 font-semibold">
                                    {{ item['name'] }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        
        </div>
    </div>
{% endblock %}

{% block nome %}
    {{ nome }}
{% endblock %}

{% block cognome %}
    {{ cognome }}
{% endblock %}

{% block email %}
    {{ email }}
{% endblock %}

{% block script %}
<script>
    function test(){
        alert('ciao')
    }
</script>
{% endblock %}